// trigate-main-colors
$primary-color: #404eb2;
$secondary-color: #5a55cc;
$primary-background-color: #f6f6fc;
$secondary-background-color: #efefff;
$secondary-background-color--darker: #e0e0ff;

// trigate-default-colors
$white-color: #ffffff;
$grey-color: #f9f9f9;
$light-grey-text-color: #b3b3b3;
$grey-text-color: #666666;
$dark-text-color: #333333;

// validation-colors
$val-light-green-color: #12d0ae33;
$val-light-red-color: #d68989;
$val-green-color: #12d0ae;
$val-red-color: #e81717;
