// trigate-main-colors
$primary-color: #404eb2;
$secondary-color: #5a55cc;
$primary-background-color: #f6f6fc;
$secondary-background-color: #efefff;
$secondary-background-color--darker: #e0e0ff;

// trigate-default-colors
$white-color: #ffffff;
$grey-color: #f9f9f9;
$grey-text-color: #b3b3b3;
$dark-text-color: #333333;
