@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Qs_Iranyekan.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Qs_Iranyekan-medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Qs_Iranyekan-bold.woff") format("woff");
  font-display: swap;
}
