@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Qs_Iranyekan.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Qs_Iranyekan-medium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Qs_Iranyekan-bold.ttf") format("ttf");
  font-display: swap;
}
