:root {
  direction: rtl;
}

* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: IranYekan, "IranYekan";
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  background-color: $primary-background-color;
  text-align: right;
}

a {
  text-decoration: none;
  color: $dark-text-color;

  &:hover {
    text-decoration: none;
  }
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0 !important;
}

.form-input {
  width: 100%;
  height: 56px;
  border: 1.5px solid $grey-color;
  border-radius: 12px;
  background-color: $grey-color;
  padding: 14px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  transition: ease-out 300ms;

  & ::placeholder {
    color: $light-grey-text-color;
  }

  &:focus {
    border-color: $primary-color;
  }
}

.form-button,
.form-button_filled {
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  border: none;
}

.form-button {
  background-color: transparent;
  border: solid 1.25px $primary-color;
  color: $primary-color;
  transition: ease-out 300ms;

  &:hover {
    background-color: $secondary-background-color;
  }

  &:active {
    background-color: $secondary-background-color--darker;
  }
}

.form-button_filled {
  box-shadow: 0px 16px 40px -16px #404eb233;
  background-color: $primary-color !important;
  color: $white-color !important;
  transition: ease-out 300ms !important;

  &:hover {
    background-color: $secondary-color !important;
  }

  &:active {
    background-color: $primary-color !important;
  }
}
